@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>杜玉威个人主页建设中.......</h1>
        <a href="/biyesheng/login">2016届毕业生生源统计入口</a>
    </div>
</body>
</html>
