@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/biyesheng/Content/cover.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <title>联系开发者</title>
    <style>
        .follow_text {
            float: left;
            width: auto !important;
            height: 16px;
            /*padding: 4px 0 3px 6px;
            color: #fff;*/
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><a href="/biyesheng/login/index">返回登陆页</a></h3>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">联系我</h1>
                    <p class="lead">感谢您的使用，如果您在使用过程中出现问题，可以通过下面的方式联系我，我将尽快给您答复。</p>


                    <div class="wbfollow">
                        <wb:follow-button uid="1748481023" type="red_1"></wb:follow-button>
                    </div>
                    <br />
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=576693716&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:576693716:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>

                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p><a href="#">2016届毕业生生源统计 by 杜玉威</a></p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
</html>
